<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Digitalizacion de menús</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aspernatur similique assumenda porro enim animi, quidem magnam cupiditate necessitatibus fugit inventore sit vitae. Voluptatum, sunt? Consequatur nesciunt cupiditate quos. At!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/menu.jpg" class="img-fluid img-proyecto">
        </div>
    </div>
</div>

