<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, architecto. Nostrum, asperiores possimus corporis enim consequuntur exercitationem sint veniam, vero voluptatibus deserunt corrupti unde veritatis pariatur voluptates debitis nihil! Dolorum!</p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, architecto. Nostrum, asperiores possimus corporis enim consequuntur exercitationem sint veniam, vero voluptatibus deserunt corrupti unde veritatis pariatur voluptates debitis nihil! Dolorum!</p>
        </ul>
        
    </div>
</div>