.row{
    padding: 100px;
}

div{
    background-color: #c45ec4;
    text-align: center;
}

#nombre{
    font-weight: bold;
    margin-top: 45px;
}

h1{
    margin-top: 45px;
}

@media (min-width: 576px){
    #fotoDePerfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 2%;   
        
    }
}

@media (max-width: 576px){
    #fotoDePerfil{
        
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 2%;
        

    }
}