
    <div class="row">
        <div class="col-xs-12 col-sm-2 com-md-2 col-lg-2">
            <img src="../../../assets/foto de perfil.jpg" alt="Foto de perfil" 
            class="img-fluid" id="fotoDePerfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Legna, Juan</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos id dicta fugit! Mollitia inventore praesentium possimus id alias quam suscipit neque, eos eveniet deleniti ea officia, explicabo voluptate ducimus nam.</p>
            </span>
        </div>
    </div>

