<div class="row"> 
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logo.png" id="logo">
        </div>
        <div class="redes">
        
                <a href=""><img src="../../../assets/GitHub_Logo.png" id="github" ></a>
                <a href=""><img src="../../../assets/instagram.png" id="instagram"></a>
                <a href=""><img src="../../../assets/whatsapp.png" id="whatsapp"></a>
                <button type="button" class="btn btn-outline-light"> Ingreso </button>
        
            
        </div>
    </div>

</div>



